@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

:root {
  --bek-color: #f6f6f6;
  --btn-color: #3858d6;
  --p-color: #8b8e99; 
  --input-color: #ffffff;
  --content-color: #1e1d1d;
  --heder-color: linear-gradient(155.28deg, #383638 2.06%, #0b0b0b 33.08%);
  --main-color:#ffffff;
  --fot-color: #0b0b0b;
}
